@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales (tema claro) */
:root {
  --bg: #ffffff;
  --border: #e5e7eb; /* slate-200 */
  --muted: #6b7280;  /* slate-500 */
}

/* Forzar modo claro en todo el sitio */
html, body {
  @apply bg-white text-black;
}
