# requirements.txt — StatuApp

Django==5.2.5
djangorestframework==3.16.1
django-cors-headers==4.7.0
Pillow==11.3.0
PyMySQL==1.1.1


# Opcionales / recomendados para el stack
python-decouple==3.8       # manejar variables de entorno fácilmente
djangorestframework-simplejwt==5.3.1   # auth con JWT (si usás login/token)
